*,
*:before,
*:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #000022;
    color: #fff;
    font-family: Helvetica, sans-serif;
}

.timer-progress {
    margin: 16px 0;
}

.timer-container {
    margin: 32px;
}

h2 {
    font-size: 32px;
    margin: 8px 0;
}

.timer {
    font-size: 64px;
    font-weight: bold;
    margin: 8px 0;
}

button {
    padding: 4px;
}

.timer-progress {
    display: flex;
    gap: 10px;
}

.block-marker {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #777;
}

.completed {
    background-color: #fff;
}