*,
*:before,
*:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #000022;
    color: #fff;
    font-family: Helvetica, sans-serif;
}

.timer-container {
    padding: 8px;
}

h2 {
    font-size: 32px;
    padding: 16px;
}

.timer {
    font-size: 64px;
    font-weight: bold;
    padding: 16px;
}

button {
    padding: 4px;
    margin: 8px;
}

.timer-progress {
    display: flex;
    gap: 10px;
    margin: 16px;
}

.timer-block {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #888;
}

.completed {
    background-color: #fff;
}